<!DOCTYPE html>
<html>
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #323232;
  }

.flex-container {
  display: flex;
  background-color: ;
}

.flex-container > div {
  background-color: 474747;
  margin: 10px;
  padding: 20px;
  font-size: 12px;
}
</style>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#btn").click(function() (evt){
                $()evt.preventDefault();
                $("#test").load("submit");
            });
        });
    </script>

<h1><img src="static/images/banner.gif" width=400 align=center></h1>
<div class="flex-container">
<div class="tarot_form" id="test">
    <h3><center>Get a tarot reading here</center></h3>
    <h4>Instructions:</h4>
    <p> 1. Input your name.
        <br><br>
        2. Focus on what you want the reading to represent to you, and input the number of cards you want to see.
        It helps to mentally pre-determine what each card will represent to you.
        <br><br>
        3. Once you feel clear, click the Submit button.
    </p>


    <form method="GET" action="/result">
        <label for="name">First name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="numofcards">Number of cards</label><br>
        <input type="number" id="numofcards" name="numofcards" min="1" max="6">

<!--        <input id="btninput" type="submit" value="Submit">-->
        <button id="btn">Submit</button>
    </form>
</div>
  <div>Hello, welcome to humble abode, where I share the things I enjoy. To the left, you can find little side coding projects I'm working on. To the right, we don't know. Thank you for stopping by. Also, this is a test. Learning FLEX BOXES.</div>
  <div>TBD</div>
</div>

<p>Main block of content can potentially go here instead of the 2nd div?</em> property set to <em>flex</em>.</p>

<p>Policy, Terms, Copyright</p>

</body>

</html>

<!--This is the index page.-->
<!--You entered {{number_of_cards}}-->

<!--&lt;!&ndash; the "action" and "method" is what submit &ndash;&gt;-->

<!--<form action="/submit" method="post">-->
<!--  <input type="number" min="1" max="6" name="number" placeholder="How many cards?"></input>-->
<!--  <input type="submit" value="Give me a reading"></input>-->
<!--</form>-->


<!--{{number_of_cards}}-->
